.site-header-cart {
  position: absolute;
  top: 0;
  right: 2.617924em;
  width: 30% !important; }
  .site-header-cart > li {
    text-align: right; }
  .site-header-cart .cart-contents {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  .site-header-cart .cart-contents::after {
    margin-left: 15px; }
  .site-header-cart .widget_shopping_cart {
    text-align: left; }

.special-button a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff !important;
  background: #000;
  padding: 0.6em 0.575em !important;
  border-radius: 4px;
  border: 3px solid #000; }
  .special-button a:hover, .special-button a:active {
    background: #fff;
    color: #000 !important; }

.main-navigation {
  margin: 0 auto !important;
  float: none !important;
  text-align: center; }

.page .entry-header {
  text-align: center; }

.woocommerce-active .site-header {
  margin-bottom: 4.235801032em; }
  .woocommerce-active .site-header .site-branding {
    float: none !important;
    margin: 35px auto !important;
    text-align: center; }
    .woocommerce-active .site-header .site-branding .custom-logo-link {
      display: inline-block; }
  .woocommerce-active .site-header .site-search {
    display: none; }
  .woocommerce-active .site-header .secondary-navigation {
    position: absolute;
    top: 0;
    left: 2.617924em;
    width: 30% !important;
    margin-bottom: 0; }
    .woocommerce-active .site-header .secondary-navigation .menu {
      float: none; }

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail {
  background-size: auto; }

.col-full {
  position: relative; }

